/* remove modal shadow*/
.modal-content{
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}

.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}

.my-btn{
    border-radius: 20px;
}

::placeholder{
    text-align: center;
}

.form-group input {
    border-radius: 20px;
}

.input-group-text{
    border-radius: 20px;
}
.custom-select{
    border-radius: 20px;
}

.my-card{
    margin: 20px;
    padding: 20px;
}

.progress-custom {
    -webkit-transition: none !important;
    transition: none !important;
}

#profile-name-link{
    padding-left: 5px;
    color: black;
}

#data-profile-container{
    padding: 20px;
}


.my-toast {
    position: absolute;
    bottom: 0;
    right: 10px;
    z-index: 1;
    min-height: 50px;
    min-width: 300px;
}

.my-rounded-pill-left {
    border-top-left-radius: 50rem!important;
    border-bottom-left-radius: 50rem!important;
}

.my-rounded-pill-right {
    border-top-right-radius: 50rem!important;
    border-bottom-right-radius: 50rem!important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #user-info{
        position: relative;
    }
}

#user-info{
    position: fixed;
    top: 76px;
    right: 20px;
}



/* Homepage */
#home-play-btn{
 width: 20vw;

}
.jumbotron{
    height: 50vh;
}

#first{
    background-color: red;
    width: fit-content;
    -webkit-transition: -webkit-transform .4s ease-in-out;
    -ms-transition: -ms-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
}

#first:hover{
    transform:rotate(2deg);
    -ms-transform:rotate(2deg);
    -webkit-transform:rotate(2deg);

}
#second{
    background-color: green;
    width: fit-content;
    -webkit-transition: -webkit-transform .4s ease-in-out;
    -ms-transition: -ms-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
}

#second:hover{
    transform:rotate(2deg);
    -ms-transform:rotate(2deg);
    -webkit-transform:rotate(2deg);

}
#third{
    background-color: blue;
    width: fit-content;
    -webkit-transition: -webkit-transform .4s ease-in-out;
    -ms-transition: -ms-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
}

#third:hover{
    transform:rotate(2deg);
    -ms-transform:rotate(2deg);
    -webkit-transform:rotate(2deg);
}

/* End Homepage */


/* Statistics page */
.statistics-up{
    margin-top: 5vh;
}
.statistics-down{
    margin-top: 5vh;
}

#text-up{
    background-color: darkcyan;
    -webkit-transition: -webkit-transform .4s ease-in-out;
    -ms-transition: -ms-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;

    border-bottom: 3px black ;
    margin-bottom: 0px;
}

#text-up:hover{
    transform:rotateX(90deg);
    -ms-transform:rotateX(90deg);
    -webkit-transform:rotateX(90deg);

}

#text-down{
    background-color: aquamarine;
    -webkit-transition: -webkit-transform .4s ease-in-out;
    -ms-transition: -ms-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
}

#text-down:hover{
    transform:rotateX(90deg);
    -ms-transform:rotateX(90deg);
    -webkit-transform:rotateX(90deg);

}

/*End statistic page*/


/* profile modal */
.hide-my-profile-modal{
    display: none;
}
.my-profile-modal{
    /*width: 60vw;*/
    position: fixed;
    z-index: 100;
}