.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}

.my-btn{
    border-radius: 20px;
}

::placeholder{
    text-align: center;
}

.form-group input {
    border-radius: 20px;
}

.input-group-text{
    border-radius: 20px;
}
.custom-select{
    border-radius: 20px;
}

.my-card{
    margin: 20px;
    padding: 20px;
}

.progress-custom {
    -webkit-transition: none !important;
    transition: none !important;
}