.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}

.my-btn{
    border-radius: 20px;
}

::placeholder{
    text-align: center;
}

.form-group input {
    border-radius: 20px;
}

.input-group-text{
    border-radius: 20px;
}
.custom-select{
    border-radius: 20px;
}

.my-card{
    margin: 20px;
    padding: 20px;
}

.progress-custom {
    -webkit-transition: none !important;
    transition: none !important;
}

account-dropdown-link{
    padding-left: 5px;
    color: black;
}

.my-toast {
    position: absolute;
    bottom: 0;
    right: 10px;
    z-index: 1;
    min-height: 50px;
    min-width: 300px;
}

.my-rounded-pill-left {
    border-top-left-radius: 50rem!important;
    border-bottom-left-radius: 50rem!important;
}

.my-rounded-pill-right {
    border-top-right-radius: 50rem!important;
    border-bottom-right-radius: 50rem!important;
}